
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Regras para a galeria de imagens
    match /gallery/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
    
    // Regras para as fotos de referência de agendamentos
    match /appointments/{userId}/{allPaths=**} {
        allow read; // Manter público se necessário, ou restringir a `if request.auth.uid == userId`
        allow write: if request.auth.uid == userId;
    }
  }
}
